/*body { background: url('http://thecodeplayer.com/uploads/media/gs.png'); !important; }*/
.wrapper{
	margin: 0 auto;
	width: 50%;
}
.spacer{
	padding: 20px;
}
.pointer{
	cursor: pointer;
}
.container-fluid{
	padding-top:5px;
}

/*submission*/
label{
	color:gray;
}

/*ideas*/
.idea-title{
	font-size: 1.5em;
	display:inline;
}
.panel-title{
	display:inline-block;
}
.panel-heading{
	vertical-align: middle;
	background-color: rgb(230, 233, 237) !important;
}
.panel{
	word-wrap: break-word;
	border: 2px solid rgb(230, 233, 237);
}

/*filters*/
.sidebar{
	position: fixed;
}
.filters{
	border: 2px solid rgb(230, 233, 237);
	border-radius:4px;
	padding: 10px 30px;
	background-color: white;
}

/*expand/collapse all button*/
.expandbutton{
	margin:15px;
}

.seeallbutton{
	margin:15px 0;
}

/*submit buttons*/
.submitbutton{
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 1;
}
.circle {
	border-radius: 50%;
  	white-space: nowrap;
	text-align: center;
	background-color: #46c37b;
    border: 1px solid #34a263;
	color: white;
	font-size: 3em;
}
.circlemedium{
	bottom:25px;
	right:25px;
	width: 75px;
	height: 75px;
	line-height: 100px;
}
.circlesmall{
	bottom:10px;
	right:10px;
	width: 75px;
	height: 75px;
	line-height: 75px;
}